h1{
  text-align: center;
  font-family: 'Frijole', cursive;
  color: white;
  font-size: 100px;
  margin-top: 5px;
  margin-bottom: 0px;
}
body{
  background-color: #000000;
}
.rules{
  font-family: 'Pangolin', cursive;
  text-align: justify;
  padding-left: 10%;
}
.results{
  text-align: center;
}
.results p{
  font-size: 20px;
  color: #c468e2;
}

#player1{
  text-align: center;

}
#player2{
  text-align: center;

}
button{
  background-color: #DEA527;
  font-weight: bold;
  border: 0;
  font-size: 30px;
}
label{
font-size: 50px;
}
.header{

  padding-top: 5%;
  padding-bottom: 5%;
}
h2{
  text-align: center;
  text-decoration: underline;
  color: #2b5860;
  margin-top: 0;
}
li{
color: #DEA527;
}

.results1{
  border-right: 2px solid white;
}
span{
  color: #345e10;
}
h3{
  color:  white;
  font-style: italic;
}
