h1{
  text-align: center;
}
body{
  background-color: #5d7bb7;
}
#player1{
  text-align: center;
  padding-top: 20%;
}
#player2{
  text-align: center;
  padding-top: 20%;
}
button{
  background-color: #e53212;
  font-weight: bold;
}
.header{
  background-color: #12bee5;
  padding-top: 5%;
  padding-bottom: 5%;
}
h2{
  text-align: center;
}
